.mat-primary{
    float:right;
}

::ng-deep .auto-width {
    .mat-form-field {
       width: auto !important;
       
    }
    .mat-select-value {
       max-width: 100%;
       min-width: 100%;
    }
 }
 .mat-header-cell {
    background-color: #fbeaff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  ::ng-deep.mat-chip-list-wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: unset!important;
   align-items: center;
   margin: -4px;
   overflow: auto!important;
 }