

<mat-toolbar fxLayout="row" >
  <span class="searchbar" style="font-size:medium;" fxFlex>
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <button mat-button *ngIf="searched" matSuffix mat-icon-button aria-label="clear" 
      (click)="onSearchClear()"
      >
      <mat-icon>close</mat-icon>
    </button>
      <input matInput #search (keyup)="applyFilter($event)">
    </mat-form-field> &nbsp;
    <mat-form-field>
      <mat-label>Search by</mat-label>
      <mat-select [(ngModel)]="selectedOption">
        <mat-option value="email">
          Email
        </mat-option>
        <mat-option value="firstname">
          Firstname
        </mat-option>
        <mat-option value="lastname">
          Lastname
        </mat-option>
        <mat-option value="labels">
          Labels
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>

  <button mat-raised-button color="primary" fxHide.xs [matMenuTriggerFor]="userMenu">
    <mat-icon>add</mat-icon>
    New<mat-icon>keyboard_arrow_down</mat-icon>
  </button>&nbsp;

  <button mat-raised-button [disabled]="disableBtn" color="accent" fxHide.xs [matMenuTriggerFor]="userMenu1">
    <mat-icon>toc</mat-icon>
    Bulk Operations<mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #dropMenu="matMenu">
    <ng-container>
      <button mat-menu-item [matMenuTriggerFor]="userMenu">
        <mat-icon>add</mat-icon>New Contact
      </button>
      <button mat-menu-item [disabled]="disableBtn" [matMenuTriggerFor]="userMenu1">
        <mat-icon>toc</mat-icon>Bulk Operations
      </button>

      <mat-divider></mat-divider>
    </ng-container>
  </mat-menu>
</mat-toolbar>
<mat-menu #userMenu="matMenu">

  <button mat-menu-item (click)="openContactDialogue()">
    <mat-icon>add</mat-icon>Add Singles
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="openDialogue()">
    <mat-icon>login</mat-icon>Import from CSV
  </button>

</mat-menu>

<mat-menu #userMenu1="matMenu">

  <button mat-menu-item (click)="openPopup()">
    <mat-icon>add</mat-icon>Add Labels
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="openRemovePopup()">
    <mat-icon>remove</mat-icon>Remove Labels
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="deleteBulkProspects()">
    <mat-icon>delete</mat-icon>Delete Contact
  </button>

</mat-menu>

<!-- here prospect is the arr of values defined in variable prospect in .ts -->
<div class="example-container">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="email"
    (matSortChange)="sort($event)" matSortDirection="asc">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- construct the columns -->
    <ng-container matColumnDef="place">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>
      <mat-cell *matCellDef="let prospect"> {{ prospect.place}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstname" >
     
      <mat-header-cell *matHeaderCellDef mat-sort-header> First Name <div>
        <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
      </div>
    </mat-header-cell>
      <mat-cell *matCellDef="let prospect"> {{ prospect.firstname}}</mat-cell>>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name
        <div>
          <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let prospect"> {{ prospect.lastname}}</mat-cell>>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email
        <div>
          <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let prospect"> {{ prospect.email}}</mat-cell>>
    </ng-container>

    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Company
        <div>
          <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        </div>
      </mat-header-cell>>
      <mat-cell *matCellDef="let prospect"> {{ prospect.company}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Position
        <div>
          <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        </div>
      </mat-header-cell>>
      <mat-cell *matCellDef="let prospect"> {{ prospect.position}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="labels">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Labels
        <div>
          <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        </div>
      </mat-header-cell>>
      <mat-cell *matCellDef="let prospect">

        <ng-container *ngFor="let label of prospect.labels">
          <mat-chip  [ngStyle]="{ 'background': label.colorHex }"> {{label.name}} </mat-chip>
        </ng-container>
          
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions
        <div>
          <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let prospect">
        <button mat-button>
          <mat-icon class="edit" (click)="editProspect(prospect)">edit
            <div>
              <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
            </div>
          </mat-icon>
        </button>
       <button mat-button>
        <mat-icon color="warn" (click)="deleteSingleProspect(prospect)">delete
          <div>
            <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
          </div>
        </mat-icon>
       </button>
        
        <!-- <button mat-button>
          <mat-icon class="edit" (click)="editProspect(prospect)">edit</mat-icon>
        </button>&nbsp;
        <button mat-button class="dlt">
          <mat-icon color="warn" (click)="deleteSingleProspect(prospect)">delete</mat-icon>
        </button> -->
        </mat-cell>
    </ng-container>

    <!-- add a table row, if not added..rows will not be rendered inside the table -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
  </mat-table>
  
</div>
<div>
  <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
  </mat-paginator>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Labels To Prospects</h4>
      </div>
      <div class="modal-body">
        <mat-label>Add Labels</mat-label>
        <mat-select multiple [formControl]="addBulklabelsForm">
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip *ngFor="let label of addBulklabelsForm.value " [ngStyle]="{ 'background': label.color }"
                [removable]="true" (removed)="onLabelRemoved(label)" selected>
                {{ label.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <mat-option *ngFor="let label of allLabels" [value]="{id:label.id,name:label.name,color:label.colorHex}">
            <mat-chip [ngStyle]="{ 'background': label.colorHex }"> {{ label.name }}</mat-chip><mat-chip  title="This label is linked to {{label.contacts}} contacts " >{{label.contacts}}</mat-chip>
          </mat-option>
        </mat-select>
      </div>
      <div class="modal-footer">
        <button mat-flat-button color="warn" style="float:left" (click)="closePopup()" >
          Close
        </button>
        <button mat-flat-button color="primary" style="float:right" (click)="addBulkLabels()">
          Add
        </button>
       
      </div>
    
    </div>
  </div>
</div>
<!--REmove Labels Popup-->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyleRemoveLabels}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remove Labels Of Prospects</h4>
      </div>
      <div class="modal-body">

        <mat-label>Remove Labels</mat-label>


        <mat-chip-list>
          <mat-chip *ngFor="let label of selectedLabelsForm.value" [removable]="true"
            (removed)="onBulkLabelRemove(label)" [selectable]="selectable" [value]="{id:label.id,color:label.colorHex}"
            [ngStyle]="{ 'background': label.colorHex }">
            {{ label.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>

      </div>
      <div class="modal-footer">
        <button mat-flat-button color="primary" style="float:right"(click)="removeBulkLabels()">
          Remove
        </button>
        <button mat-flat-button color="warn" style="float:left" (click)="closeRemovePopup()">
          Close
        </button>
      </div>
     
    </div>
  </div>
</div>