// @import "../dashboard/dashboard.component.scss";
// @import "../../dashboard/dashboard.component.scss";
// .spacer {
//   flex: 1 1 auto;
// }

.mat-header-cell {
  background-color: #fbeaff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  //white-space: unset !important;
}
.mat-column-email{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 16% !important;
  //width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 0 6px 0 8px;

}

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 140px;
}
@media  (max-width: 599px) {
  .mat-button{
    min-width: 39px;
  }
}
// .mat-column-labels{
// overflow-x: scroll;
//   width: 20%;
// }
// .mat-icon{
//   font-size: large;
// }
.tooltp{
  width:auto;
  //height: 25px;
}
.modal-footer{
  display:block;
}

.sort-icon-size{
  .pi{
    font-size: .8rem!important;
  } 

}

mat-chip {
  width: auto;
  color: black;
  border-radius: 4px !important;
  text-align: center !important;
  border: 1px solid ;
  background: transparent !important;
  margin: 2px;
  box-sizing: border-box;
  padding: 7px 12px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.14);
}
.ng-tns-c329-7 .p-multiselect .p-component .p-multiselect-chip{
width: 100%!important;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary .mat-chip-remove {
  /* color: #fff; */
  color: black !important;
  opacity: .4;
}
::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}
 .p-card .p-card-body {
  padding: 0rem;
}