// @import "../dashboard/dashboard.component.scss";
@import "../../dashboard/dashboard.component.scss";
.spacer{
    flex: 1 1 auto;
}
.mat-header-cell{
    background-color: #FBEAFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


  

