<mat-toolbar fxLayout="row">
  <span fxFlex>Dashboard
  </span>
</mat-toolbar>
<div *ngIf="stepper">
  <mat-stepper #stepper  (selectionChange)="goTolinkAccounts($event)" >
    <mat-step>
      
      <ng-template matStepLabel ><h5 fxHide.xs>Let's Stert</h5> <mat-icon fxShow.xs fxHide.lg>east</mat-icon></ng-template>
  </mat-step>
    <mat-step [completed]="completedStep1">
      
        <ng-template matStepLabel ><h5 fxHide.xs>Link Mail Accounts</h5> <mat-icon fxShow.xs fxHide.lg>contacts</mat-icon></ng-template>
    </mat-step>
    <mat-step [completed]="completedStep2">
      
        <ng-template matStepLabel><h5 fxHide.xs>Add Your Prospects</h5><mat-icon fxShow.xs fxHide.lg>contacts</mat-icon> </ng-template>
    </mat-step>
    <mat-step [completed]="completedStep3">
      <ng-template matStepLabel><h5 fxHide.xs>Add Prospect Labels</h5><mat-icon fxShow.xs fxHide.lg>label</mat-icon></ng-template>
      
    </mat-step>
    <mat-step [completed]="completedStep4">
      <ng-template  matStepLabel><h5 fxHide.xs>Add Outreach</h5><mat-icon fxShow.xs fxHide.lg>signal_cellular_alt</mat-icon></ng-template>
      
    </mat-step>
  </mat-stepper>
 
  
</div>
<div class="container-fluid mt-1">
  <div class="row">
    <div class="col-sm-5 scrollable-content">
      <mat-card fxHide.xs>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-card-title><i class="fas fa-paper-plane"></i> Total Outreachs</mat-card-title>
          <h1></h1>
        </div>
        <mat-divider></mat-divider>

        <div class="container mt-2">

          <div class="row text-center">

            <div class="col-sm-3">
              <div class="col">Created</div>
              <h1>{{created}}</h1>
            </div>

            <div class="col-sm-3">
              <div class="col">Active</div>
              <h1></h1>
            </div>

            <div class="col-sm-3">
              <div class="col">Paused</div>
              <h1></h1>
            </div>

            <div class="col-sm-3">
              <div class="col">Archived</div>
              <h1></h1>
            </div>

          </div>

        </div>

      </mat-card>
      
      <mat-accordion fxShow.xs fxHide.lg>       
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <i class="fas fa-paper-plane"></i> &nbsp;
                Total Outreachs
              </mat-expansion-panel-header>
              <div class="container mt-2">

                <div class="row text-center">
      
                  <div class="col-sm-3">
                    <div class="col">Created</div>
                    <h1>{{created}}</h1>
                  </div>
      
                  <div class="col-sm-3">
                    <div class="col">Active</div>
                    <h1></h1>
                  </div>
      
                  <div class="col-sm-3">
                    <div class="col">Paused</div>
                    <h1></h1>
                  </div>
      
                  <div class="col-sm-3">
                    <div class="col">Archived</div>
                    <h1></h1>
                  </div>
      
                </div>
      
              </div>
            </mat-expansion-panel>
      </mat-accordion>

      <mat-card class="mt-3" fxHide.xs>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-card-title><i class="fas fa-address-book"></i> Total Prospect</mat-card-title>
          <h1>500</h1>
        </div>
        <mat-divider></mat-divider>
        <div class="container mt-2">
          <div class="row text-center">
            <div class="col-sm-3">
              <div class="col">Opened</div>
              <h1>10</h1>
            </div>
            <div class="col-sm-3">
              <div class="col">Clicked</div>
              <h1>7</h1>
            </div>
            <div class="col-sm-3">
              <div class="col">Replied</div>
              <h1>3</h1>
            </div>
            <div class="col-sm-3">
              <div class="col">Paused</div>
              <h1>4</h1>
            </div>
          </div>
        </div>
      </mat-card>
      <div class="mt-2">

      
      <mat-accordion fxShow.xs fxHide.lg>       
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <i class="fas fa-address-book"></i> &nbsp;
                Total Prospect
              </mat-expansion-panel-header>
              <div class="container mt-2">
                <div class="row text-center">
                  <div class="col-sm-3">
                    <div class="col">Opened</div>
                    <h1>10</h1>
                  </div>
                  <div class="col-sm-3">
                    <div class="col">Clicked</div>
                    <h1>7</h1>
                  </div>
                  <div class="col-sm-3">
                    <div class="col">Replied</div>
                    <h1>3</h1>
                  </div>
                  <div class="col-sm-3">
                    <div class="col">Paused</div>
                    <h1>4</h1>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
      </mat-accordion>
    </div>
      <mat-card class="mt-3" >
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-card-title><i class="fas fa-tags"></i> Total Prospect-labels</mat-card-title>
          <h1>100</h1>
        </div>
      </mat-card>
      <mat-card class="mt-3" fxHide.xs>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-card-title><i class="fas fa-envelope"></i> Total Mail Accounts</mat-card-title>
          <h1>30</h1>
        </div>
        <mat-divider></mat-divider>
        <div class="container mt-2">
          <div class="row text-center">
            <div class="col-sm-3">
              <div class="col">Google</div>
              <h1>5</h1>
            </div>
            <div class="col-sm-3">
              <div class="col">Outlook</div>
              <h1>7</h1>
            </div>
          </div>
        </div>
      </mat-card>
      <div class="mt-2">

     
      <mat-accordion fxShow.xs fxHide.lg>       
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <i class="fas fa-envelope"></i> &nbsp;
                Total Mail Accounts
              </mat-expansion-panel-header>
              <div class="container mt-2">
                <div class="row text-center">
                  <div class="col-sm-3">
                    <div class="col">Google</div>
                    <h1>5</h1>
                  </div>
                  <div class="col-sm-3">
                    <div class="col">Outlook</div>
                    <h1>7</h1>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
      </mat-accordion>
    </div>
    </div>

    <div class="col-sm-7">
      <mat-card class="scrollable-content">
        <mat-card-title class="text-center"><i class="fas fa-paper-plane"></i> Outreach Timeline</mat-card-title>
        <div id="tracking">
          <div class="tracking-list">
            <div class="tracking-item">
              <div class="tracking-icon status-outfordelivery">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="tracking-date">Jul 20, 2018<span>08:58 AM</span></div>
              <div class="tracking-content">
                Recieved by Aamir
              </div>
            </div>
            <div class="tracking-item">
              <div class="tracking-icon status-delivered">
                <i class="fas fa-envelope-open"></i>
              </div>
              <div class="tracking-date">Jul 19, 2018<span>05:42 PM</span></div>
              <div class="tracking-content">was opened by Bari</div>
            </div>
            <div class="tracking-item">
              <div class="tracking-icon status-inforeceived">
                <mat-icon class="mt-2">mouse</mat-icon>
              </div>
              <div class="tracking-date">Jul 20, 2018<span>08:58 AM</span></div>
              <div class="tracking-content">was click by Naveed</div>
            </div>
            <div class="tracking-item">
              <div class="tracking-icon status-outfordelivery">
            
                <i class="fas fa-comment-dots"></i>
              </div>
              <div class="tracking-date">Jul 20, 2018<span>08:58 AM</span></div>
              <div class="tracking-content">Replied by Umer</div>
            </div>
          </div>
        </div>
      </mat-card>
      
    </div>
  </div>
</div>