
<div *ngIf="stepper" class="mb-2">
  <mat-stepper #stepper  (selectionChange)="goTolinkAccounts($event)" >
    <mat-step>
      
      <ng-template matStepLabel ><h5 fxHide.xs>Let's Stert</h5> <mat-icon fxShow.xs fxHide.lg>east</mat-icon></ng-template>
  </mat-step>
    <mat-step [completed]="completedStep1">
      
        <ng-template matStepLabel ><h5 fxHide.xs>Link Mail Accounts</h5> <mat-icon fxShow.xs fxHide.lg>contacts</mat-icon></ng-template>
    </mat-step>
    <mat-step [completed]="completedStep2">
      
        <ng-template matStepLabel><h5 fxHide.xs>Add Your Prospects</h5><mat-icon fxShow.xs fxHide.lg>contacts</mat-icon> </ng-template>
    </mat-step>
    <mat-step [completed]="completedStep3">
      <ng-template matStepLabel><h5 fxHide.xs>Add Prospect Labels</h5><mat-icon fxShow.xs fxHide.lg>label</mat-icon></ng-template>
      
    </mat-step>
    <mat-step [completed]="completedStep4">
      <ng-template  matStepLabel><h5 fxHide.xs>Add Outreach</h5><mat-icon fxShow.xs fxHide.lg>signal_cellular_alt</mat-icon></ng-template>
      
    </mat-step>
  </mat-stepper>
 
  
</div>
<!-- <p-breadcrumb [model]="items"></p-breadcrumb> -->


<!-- <div class="container-fluid mt-1"> -->
  <div class="row">
    <div class="col-sm-5 scrollable-content">
     <p-card  >
      <ng-template pTemplate="title">
        Outreachs  <i class="pi pi-volume-up"></i> <span style="float:right" >{{totalOutreaches}}</span> </ng-template>
      <ng-template pTemplate="content">
        <p-divider ></p-divider>
        <div class="grid" style="text-align:center">
          <div class="col-3">
            <div>
              Created
            </div>
            <div>
              {{created}}
            </div>
          </div>
          <div class="col-3">
            <div>Active</div>
            <div>133</div>
          </div>
          <div class="col-3">
            <div>Paused</div>
            <div>112</div>
          </div>
          <div class="col-3">
            <div>Archived</div>
            <div>127</div>
          </div>
        </div>
      </ng-template>
    </p-card>
      
  
 <p-card class="mt-2" >
      <ng-template pTemplate="title">
        Prospects  <i class="pi pi-users"></i> <span style="float:right" >500</span> </ng-template>
      <ng-template pTemplate="content">
        <p-divider ></p-divider>
        <div class="grid" style="text-align:center">
          <div class="col-3">
            <div>
              Opened
            </div>
            <div>
              {{created}}
            </div>
          </div>
          <div class="col-3">
            <div>Clicked</div>
            <div>133</div>
          </div>
          <div class="col-3">
            <div>Replied</div>
            <div>112</div>
          </div>
          <div class="col-3">
            <div>Paused</div>
            <div>127</div>
          </div>
        </div>
      </ng-template>
    </p-card>

     <p-card class="mt-2" >
      <ng-template pTemplate="title">
        Mailaccounts  <i class="pi pi-envelope"></i> <span style="float:right" >20</span> </ng-template>
      <ng-template pTemplate="content">
        <p-divider ></p-divider>
        <div class="grid" style="text-align:center">
          <div class="col-6">
            <div>
              Gmail
            </div>
            <div>
              10
            </div>
          </div>
          <div class="col-6">
            <div>Outlook</div>
            <div>133</div>
          </div>
        </div>
      </ng-template>
    </p-card>
    </div>

    <div class="col-sm-7">
<p-card>
  <ng-template pTemplate="title">
    Outreach Timeline  <i class="pi pi-plane"></i> </ng-template>
    <p-divider ></p-divider>
    <ng-template pTemplate="content">
      <div id="tracking">
        <div class="tracking-list">
          <div class="tracking-item">
            <div class="tracking-icon status-outfordelivery">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="tracking-date">Jul 20, 2018<span>08:58 AM</span></div>
            <div class="tracking-content">
              Recieved by Aamir
            </div>
          </div>
          <div class="tracking-item">
            <div class="tracking-icon status-delivered">
              <i class="fas fa-envelope-open"></i>
            </div>
            <div class="tracking-date">Jul 19, 2018<span>05:42 PM</span></div>
            <div class="tracking-content">was opened by Bari</div>
          </div>
          <div class="tracking-item">
            <div class="tracking-icon status-inforeceived">
              <mat-icon class="mt-2">mouse</mat-icon>
            </div>
            <div class="tracking-date">Jul 20, 2018<span>08:58 AM</span></div>
            <div class="tracking-content">was click by Naveed</div>
          </div>
          <div class="tracking-item">
            <div class="tracking-icon status-outfordelivery">
          
              <i class="fas fa-comment-dots"></i>
            </div>
            <div class="tracking-date">Jul 20, 2018<span>08:58 AM</span></div>
            <div class="tracking-content">Replied by Umer</div>
          </div>
        </div>
      </div>
    </ng-template>
</p-card>
<!-- 
      <mat-card class="scrollable-content">
        <mat-card-title class="text-center"><i class="fas fa-paper-plane"></i> Outreach Timeline</mat-card-title>
        <div id="tracking">
          <div class="tracking-list">
            <div class="tracking-item">
              <div class="tracking-icon status-outfordelivery">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="tracking-date">Jul 20, 2018<span>08:58 AM</span></div>
              <div class="tracking-content">
                Recieved by Aamir
              </div>
            </div>
            <div class="tracking-item">
              <div class="tracking-icon status-delivered">
                <i class="fas fa-envelope-open"></i>
              </div>
              <div class="tracking-date">Jul 19, 2018<span>05:42 PM</span></div>
              <div class="tracking-content">was opened by Bari</div>
            </div>
            <div class="tracking-item">
              <div class="tracking-icon status-inforeceived">
                <mat-icon class="mt-2">mouse</mat-icon>
              </div>
              <div class="tracking-date">Jul 20, 2018<span>08:58 AM</span></div>
              <div class="tracking-content">was click by Naveed</div>
            </div>
            <div class="tracking-item">
              <div class="tracking-icon status-outfordelivery">
            
                <i class="fas fa-comment-dots"></i>
              </div>
              <div class="tracking-date">Jul 20, 2018<span>08:58 AM</span></div>
              <div class="tracking-content">Replied by Umer</div>
            </div>
          </div>
        </div>
      </mat-card> -->
      
    </div>
  </div>
<!-- </div> -->