@import'../login/login.component.scss';
 
.login{
    text-decoration: none;
    font-weight: 500;
}
.mat-card{
    margin-top: 15px;
}
.box{
    display: flex;
    justify-content: center;
}

.authBoxx{
    width: 450px;
    margin-top: 50px;
}