<div class="authBox">

    <mat-card class="pb-3">
        <div class="header">
            <mat-card-title>Register to Powermail</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </div>
        <mat-card-content>
            <form [formGroup]="registerForm">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" autofocus>
                    <mat-error>
                        Please enter a valid email address.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Firstname:</mat-label>
                    <input type="text" matInput formControlName="firstname" placeholder="Ex. John" autofocus>
                    <mat-error>
                        Please enter a valid name.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Lastname:</mat-label>
                    <input type="text" matInput formControlName="lastname" placeholder="Ex. Smith" autofocus>
                    <mat-error>
                        Please enter a valid name.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Phone No:.</mat-label>
                    <input type="text" matInput formControlName="phone" placeholder="Ex. +91-1236547890" autofocus>
                    <mat-error>
                        Please enter a valid Phone No..
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Company Name:</mat-label>
                    <input type="text" matInput formControlName="company" placeholder="Ex. Alpha Minds" autofocus>
                    <mat-error>
                        Please enter a valid Company Name.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Password:</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Enter your password">
                    <mat-error>
                        Minimum six characters are required.
                    </mat-error>
                </mat-form-field>
                <mat-checkbox (change)="onChangeEventFunc($event)">
                    Are You An
                    Agency?
                </mat-checkbox>
            </form>
            <button mat-flat-button color="primary" style="width:100%;"
                (click)="registerUserOrAgency()">Register</button><br><br>
            <div class="footer">
                <p>Already Registered? <a routerLink="/auth/login" class="login">Login</a></p>
            </div>
        </mat-card-content>
    </mat-card>
</div>