<mat-toolbar fxLayout>
    <div class="container">
        <div class="row">
            <nav class="nav nav-pills nav-justified">
                <a class="nav-link" routerLink="messages" routerLinkActive="active">Messages&nbsp;<mat-icon>message
                    </mat-icon></a>
                <a class="nav-link" routerLink="settings" routerLinkActive="active">Settings<mat-icon>settings
                    </mat-icon></a>
                <a class="nav-link" routerLink="stats" routerLinkActive="active">Stats <mat-icon></mat-icon></a>
            </nav>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>