.mat-toolbar{
    background:linear-gradient(90deg, var(--background));
}
.mat-icon{
    vertical-align: middle;
}
.nav-link {
    border: 1px solid white;
        color: black;
        width:100%;
    }
  
