
  <!-- <div class="container">
    <div class="row">
      <nav class="nav nav-pills nav-justified">
        <a class="nav-link"  class="nav-link disabled" routerLink="stepone" routerLinkActive="active">Let's Start&nbsp;<mat-icon>start</mat-icon></a>
        <a class="nav-link"  class="nav-link disabled" routerLink="steptwo" routerLinkActive="active">Schedule & Prospects<mat-icon>schedule</mat-icon></a>
        <a class="nav-link"  class="nav-link disabled" routerLink="stepthree" routerLinkActive="active">Message Steps <mat-icon>message</mat-icon></a>
        <a class="nav-link"  class="nav-link disabled" routerLink="stepfour" routerLinkActive="active">Preview & Launch<mat-icon>preview</mat-icon></a>
      </nav>
    </div>
  </div> -->

  <p-card>
    <p-steps [model]="items" [readonly]="true"></p-steps>

  </p-card>
<div class="mt-3" >
  <router-outlet ></router-outlet>

</div>
