.title {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #3f51b5;
}

.abreports {
    margin-top: 10px;
    font-weight: 400;
}


.fl {
    float: right;
}

.ufl {
    font-weight: 400;
}

.uf2 {
    font-size: 22px;
}



.LStyle {
    font-size: 1.5em;
    font-weight: 500;
    font-size: 16px;
    color: #525252;
}

.column {
    float: left;
    width: 15%;
    overflow: visible;
}

.column2 {
    float: left;
    width: 85%;
}

.tl {
    font-size: 16px;
    font-weight: 500;
}

.fl {
    float: right;
}

.ufl {
    font-weight: 400;
}