<mat-toolbar fxLayout="row">

    <span style="font-size:medium;" fxFlex>Prospect Labels:&nbsp;&nbsp;
        <mat-form-field class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Ex.John Dev">
        </mat-form-field> &nbsp; &nbsp;
        <mat-form-field style=" width: 10%;">
            <mat-label>Search by</mat-label>
            <mat-select>
                <mat-option value="labelName">
                    Label Name
                </mat-option>
                <mat-option value="labelDesc">
                    Label Description
                </mat-option>
                <mat-option value="prospectLabels">
                    Prospect Labels
                </mat-option>
                <mat-option value="outreachCampaign">
                    Outreach Campaign
                </mat-option>
            </mat-select>
        </mat-form-field>
    </span>

    <button mat-raised-button (click)="openDialogue()" color="primary" fxHide.xs>
        <mat-icon>add</mat-icon>
        New Label
    </button>&nbsp;

    <button mat-raised-button color="warn" fxHide.xs>
        <mat-icon>delete</mat-icon>
        Delete
    </button>
</mat-toolbar>
<!-- here Data is the arr of values defined in variable Data in .ts -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- construct the columns -->

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Label Name</th>
        <td mat-cell *matCellDef="let Data"> {{Data.name}}</td>
    </ng-container>

    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Label Description</th>
        <td mat-cell *matCellDef="let Data"> {{Data.age}}</td>
    </ng-container>

    <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef>Prospect Labels</th>
        <td mat-cell *matCellDef="let Data"> {{Data.subject}}</td>
    </ng-container>

    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Outreach Campaigns</th>
        <td mat-cell *matCellDef="let Data"> {{Data.country}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let Data">
            <button mat-button>
                <mat-icon class="edit">edit</mat-icon>
            </button>
            <button mat-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>

    </ng-container>
    <!-- add a table row, if not added..rows will not be rendered inside the table -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>