<mat-toolbar fxLayout="row">

    <span style="font-size:medium;" fxFlex>Prospect Labels:&nbsp;&nbsp;
        <mat-form-field class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)">
        </mat-form-field> &nbsp;
        <mat-form-field>
            <mat-label>Search by</mat-label>
            <mat-select [(ngModel)]="selectedOption">
                <mat-option value="name">
                    Label Name
                </mat-option>
            </mat-select>
        </mat-form-field>
    </span>

    <button mat-raised-button (click)="openDialogue()" color="primary" fxHide.xs>
        <mat-icon>add</mat-icon>
        New
    </button>&nbsp;

    <button mat-raised-button color="warn" fxHide.xs (click)="deleteBulkLabels()" [disabled]="disableBtn">
        <mat-icon>delete</mat-icon>
        Delete
    </button>


</mat-toolbar>
<!-- here Data is the arr of values defined in variable Data in .ts -->
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="labelName"
        (matSortChange)="sort($event)" matSortDirection="asc">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- construct the columns -->

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Label Name</th>
            <td mat-cell *matCellDef="let label">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip [ngStyle]="{ 'background': label.colorHex }">{{label.name}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Label Description</th>
            <td mat-cell *matCellDef="let label">
                {{label.description}}</td>
        </ng-container>

        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Prospect Labels</th>
            <td mat-cell *matCellDef="let label"> {{label.colorHex}}</td>
        </ng-container>

        <ng-container matColumnDef="outreach">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Outreach Campaigns</th>
            <td mat-cell *matCellDef="let label"></td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let label">
                <button mat-button>
                    <mat-icon class="edit" (click)="editLabel(label)">edit</mat-icon>
                </button>
                <button mat-button (click)="deleteSingleLabel(label)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </td>

        </ng-container>
        <!-- add a table row, if not added..rows will not be rendered inside the table -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>
</div>