<p-card>
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        (click)="openDialogue()"
        icon="pi pi-plus"
        pButton
        pRipple
        type="button"
        label="Add New"
        class="p-button-sm p-button-outlined mr-2"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <button
        (click)="deleteBulkLabels()"
        [disabled]="!selectedLabels || !selectedLabels.length"
        icon="pi pi-trash"
        pButton
        pRipple
        type="button"
        label="Delete"
        class="p-button-sm p-button-outlined p-button-danger"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    responsiveLayout="scroll"
    [resizableColumns]="true"
    styleClass="p-datatable-sm p-datatable-gridlines"
    [(selection)]="selectedLabels"
    [value]="labels"
    [lazy]="true"
    (onLazyLoad)="pageChanged($event)"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 20, 30]"
    [rows]="10"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Labels</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (keyup)="applyFilter($event)"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th
          pSortableColumn="name"
          style="min-width: 15rem"
          style="width: 170px"
        >
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style="width: 500px">Discription</th>
        <th>Color</th>
        <th>Prospects</th>
        <th>Outreachs</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-label>
      <tr>
        <td>
          <p-tableCheckbox [value]="label"></p-tableCheckbox>
        </td>
        <td>{{ label.name }}</td>
        <td class="table-description">
          {{ label.description }}
        </td>
        <td style="display: flex;">
            <mat-chip
             style=" padding: 7px 12px;"
            [ngStyle]="{ 'border-color': label.colorHex }"
          >
            {{ label.name }} 
          </mat-chip>
        </td>
        <td>{{ label.contacts }}</td>
        <td>{{ label.outreaches }}</td>
        <td>
          <button
            (click)="getContacts(label)"
            pButton
            pRipple
            type="button"
            icon="pi pi-users"
            class="p-button-rounded p-button-secondary p-button-text mr-2"
          ></button>
          <button
            (click)="getCampaigns(label)"
            pButton
            pRipple
            type="button"
            icon="pi pi-send"
            class="p-button-rounded p-button-info p-button-text mr-2"
          ></button>
          <button
            (click)="editLabel(label)"
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text mr-2"
          ></button>
          <button
            (click)="deleteSingleLabel(label)"
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-text p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
