<!-- 
<div class="example-container mat-elevation-z8">
    <div class="example-table-container">

        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Schedule Name </th>
                <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Name'> {{element.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="TimeZone">
                <th mat-header-cell *matHeaderCellDef>TimeZone </th>
                <td mat-cell *matCellDef="let element" class='m-card-sub-title' data-label='TimeZone'>
                    {{element.timezone}} </td>
            </ng-container>


            <ng-container matColumnDef="Monday">
                <th mat-header-cell *matHeaderCellDef>Monday </th>
                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Monday'>
                    <ng-container *ngFor="let schedule of element.schedules">
                        <ng-container *ngIf="schedule.day=='monday'">
                            <ng-container *ngFor="let time of schedule.times">
                                <div *ngIf="!schedule.active">-- --</div>
                                <div *ngIf="schedule.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                </td>
            </ng-container>

            <ng-container matColumnDef="Tuesday">
                <th mat-header-cell *matHeaderCellDef>Tuesday </th>
                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Tuesday'>
                    <ng-container *ngFor="let schedule of element.schedules">
                        <ng-container *ngIf="schedule.day=='tuesday'">
                            <ng-container *ngFor="let time of schedule.times">
                                <div *ngIf="!schedule.active">-- --</div>
                                <div *ngIf="schedule.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="Wednesday">
                <th mat-header-cell *matHeaderCellDef>Wednesday </th>
                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Wednesday'>
                    <ng-container *ngFor="let schedule of element.schedules">
                        <ng-container *ngIf="schedule.day=='wednesday'">
                            <ng-container *ngFor="let time of schedule.times">
                                <div *ngIf="!schedule.active">-- --</div>
                                <div *ngIf="schedule.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="Thursday">
                <th mat-header-cell *matHeaderCellDef>Thursday </th>
                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Thursday'>
                    <ng-container *ngFor="let schedule of element.schedules">
                        <ng-container *ngIf="schedule.day=='thursday'">
                            <ng-container *ngFor="let time of schedule.times">
                                <div *ngIf="!schedule.active">-- --</div>
                                <div *ngIf="schedule.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="Friday">
                <th mat-header-cell *matHeaderCellDef>Friday </th>
                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Friday'>
                    <ng-container *ngFor="let schedule of element.schedules">
                        <ng-container *ngIf="schedule.day=='friday'">
                            <ng-container *ngFor="let time of schedule.times">
                                <div *ngIf="!schedule.active">-- --</div>
                                <div *ngIf="schedule.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="Saturday">
                <th mat-header-cell *matHeaderCellDef>Saturday </th>
                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Saturday'>
                    <ng-container *ngFor="let schedule of element.schedules">
                        <ng-container *ngIf="schedule.day=='saturday'">
                            <ng-container *ngFor="let time of schedule.times">
                                <div *ngIf="!schedule.active">-- --</div>
                                <div *ngIf="schedule.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="Sunday">
                <th mat-header-cell *matHeaderCellDef>Sunday </th>
                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Sunday'>
                    <ng-container *ngFor="let schedule of element.schedules">
                        <ng-container *ngIf="schedule.day=='sunday'">
                            <ng-container *ngFor="let time of schedule.times">
                                <div *ngIf="!schedule.active">-- --</div>
                                <div *ngIf="schedule.active">{{time.from|time24to12Transform}}-{{time.to|time24to12Transform}}</div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Actions'>
                    <button mat-button>
                        <mat-icon (click)="editSchedule(element)" style="color: primary;">edit</mat-icon>
                    </button>&nbsp;
                    <button mat-button>
                        <mat-icon style="color:#f44336" (click)="deleteSchedule({id:element.id})">delete
                        </mat-icon>
                    </button>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                style="background-color: rgba(162, 194, 236, 0.781);"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
   
</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>open_in_new</mat-icon>
        <span>Open risk plan</span>
    </button>
    <button mat-menu-item>
        <mat-icon>undo</mat-icon>
        <span>Reset questionnairre</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>delete</mat-icon>
        <span>Delete questionnairre</span>
    </button>
</mat-menu>

 -->
<div class="pb-3">

    <p-card>
        <p-toolbar styleClass="mb-4 gap-2">
          <ng-template pTemplate="left">
            <button
              icon="pi pi-plus"
              (click)="addSchedule()"
              pButton
              pRipple
              type="button"
              label="Add New"
              class="p-button-sm p-button-outlined mr-2"
            ></button>
          </ng-template>
        </p-toolbar>
      
        <p-table
          responsiveLayout="scroll"
          [resizableColumns]="true"
          styleClass="p-datatable-sm"
          [value]="dataSource.data"
          [lazy]="true"
          (onLazyLoad)="listAllSchedules()"
          [totalRecords]="totalRecords"
          [rowsPerPageOptions]="[10, 20, 30]"
          [rows]="10"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true"
        >
          >
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Manage Schedules</h5>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  placeholder="Search..."
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th
                style="min-width: 15rem"
                style="width: 170px"
              >
                Name 
              </th>
              <th >Timezone</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-schedule>
            <tr>
              <td>{{ schedule.name }}</td>
              <td class="table-description">
                {{ schedule.timezone }}
              </td>
              <td>
                <ng-container *ngFor="let days of schedule.schedules">
                    <ng-container *ngIf="days.day=='monday'">
                        <ng-container *ngFor="let time of days.times">
                            <div *ngIf="!days.active">-- --</div>
                            <div *ngIf="days.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                        </ng-container>
                    </ng-container>
                </ng-container>
              </td>
              <td>
                <ng-container *ngFor="let days of schedule.schedules">
                    <ng-container *ngIf="days.day=='tuesday'">
                        <ng-container *ngFor="let time of days.times">
                            <div *ngIf="!days.active">-- --</div>
                            <div *ngIf="days.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                        </ng-container>
                    </ng-container>
                </ng-container>
              </td>
              <td>
                <ng-container *ngFor="let days of schedule.schedules">
                    <ng-container *ngIf="days.day=='wednesday'">
                        <ng-container *ngFor="let time of days.times">
                            <div *ngIf="!days.active">-- --</div>
                            <div *ngIf="days.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                        </ng-container>
                    </ng-container>
                </ng-container>
              </td>
              <td>
                <ng-container *ngFor="let days of schedule.schedules">
                    <ng-container *ngIf="days.day=='thursday'">
                        <ng-container *ngFor="let time of days.times">
                            <div *ngIf="!days.active">-- --</div>
                            <div *ngIf="days.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                        </ng-container>
                    </ng-container>
                </ng-container>
              </td>
              <td>
                <ng-container *ngFor="let days of schedule.schedules">
                    <ng-container *ngIf="days.day=='firday'">
                        <ng-container *ngFor="let time of days.times">
                            <div *ngIf="!days.active">-- --</div>
                            <div *ngIf="days.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                        </ng-container>
                    </ng-container>
                </ng-container>
              </td>
              <td>
                <ng-container *ngFor="let days of schedule.schedules">
                    <ng-container *ngIf="days.day=='saturday'">
                        <ng-container *ngFor="let time of days.times">
                            <div *ngIf="!days.active">-- --</div>
                            <div *ngIf="days.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                        </ng-container>
                    </ng-container>
                </ng-container>
              </td>
              <td>
                <ng-container *ngFor="let days of schedule.schedules">
                    <ng-container *ngIf="days.day=='sunday'">
                        <ng-container *ngFor="let time of days.times">
                            <div *ngIf="!days.active">-- --</div>
                            <div *ngIf="days.active">{{time.from | time24to12Transform}}-{{time.to | time24to12Transform}}</div>
                        </ng-container>
                    </ng-container>
                </ng-container>
              </td>
             
          
              <td>
              
                <button
                pButton
                pRipple
                (click)="editSchedule(schedule)"
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text mr-2"
              ></button>
              <button
              (click)="deleteSchedule({id:schedule.id})"
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-text p-button-danger"
              ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
</div>

