<div class="container">
    <div class="row">
        <mat-card>
            <mat-card-title>
                Component 3
            </mat-card-title>
            <mat-card-content>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <button id="msg" class="mat-raised-button mat-primary">
                            <mat-icon>add</mat-icon> New Message
                        </button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <button class="mat-raised-button mat-primary"
                    routerLink="/home/outreach/addcampaign/stepfour">Next</button>
                <button class="mat-raised-button mat-accent"
                    routerLink="/home/outreach/addcampaign/steptwo">Back</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>