
<mat-toolbar color="primary" class="mat-elevation-z2">
    <div class="top">
      <div class="right">
        <a
          ><img class="logo" src="../../../../assets/powermail.svg" alt="" />
          <span class="title">Powermail-Web </span>
        </a>
      </div>
  
      <div class="left">
       
        <div class="profile-container">
         
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            class="2 d-flex align-items-center"
          >
            <mat-icon>person</mat-icon> AB Bari
            <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/auth" >
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </mat-toolbar>
  