
<div class="content">
  
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumn) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z5 card" style="width: 100%; height: 100%; border-radius: 15px;">

                <mat-card-actions style="text-align: center;" class="mt-5">
                    <button class="hover" mat-fab color="warn" (click)="openDialogue()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <span style="padding-left: 10px; font-size: 18px; font-weight: 700;">Add New User</span>
                </mat-card-actions>
            </mat-card>
        </div>

        <div [fxFlex]="(100/gridColumn) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let userAccount of users">


            <mat-card class="mat-elevation-z5 card" style="width: 100%; height: 100%; border-radius: 15px;">

                <div class="row">
                    <mat-card-title>{{userAccount.parentUserEmail}}</mat-card-title>
                    <mat-card-subtitle>{{userAccount.email}}</mat-card-subtitle>
                    <div class="col-sm-3">
                        <ngx-avatar size="80" textSizeRatio="1.4">

                        </ngx-avatar>

                    </div>

                   

                    <div class="row" style="padding-top: 15px;">
                        <div class="col-sm-6">
                            <button mat-mini-fab color="warn" (click)="deleteProfile()">
                                <mat-icon>delete_outline </mat-icon>
                            </button>
                            <button style="float: right ;" mat-mini-fab color="primary" mat-dialog-close
                                (click)="saveUserAccount(userAccount)">
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                     
                    </div>

                </div>

            </mat-card>

        </div>
    </div>

</div>