
<div class="grid" >
    <div class="col-12 md:col-4 lg:col-3">
        <p-card header="Add Useraccount">
            <ng-template pTemplate="content" >
                <div class="grid " style="margin-top: 25px;">
                    <div class="col-12 text-center">
                        <div>
                            <button (click)="openDialogue()" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-secondary p-button-outlined p-button-lg"></button>
                        </div>
                    </div>
                </div>

            </ng-template>
            </p-card>
    </div>
    <div class="col-12 md:col-4 lg:col-3"  *ngFor="let userAccount of users">
        <p-card >
            <ng-template pTemplate="title">
                {{userAccount.name}}
            </ng-template>
            <ng-template pTemplate="content">
                <p>{{userAccount.email}}</p>
                <p>Company: {{userAccount.company}}</p>
            </ng-template>
            <ng-template pTemplate="footer">
                <p-divider type="dashed"></p-divider>
                <button (click)="deleteProfile()" icon="pi pi-trash" pButton pRipple type="button" label="Delete" class="p-button-sm p-button-outlined p-button-danger">
                </button>
                <button (click)="saveUserAccount(userAccount)" style="float:right" icon="pi pi-check" pButton pRipple type="button" label="Select" class="p-button-sm p-button-outlined"></button>
            </ng-template>
            </p-card>
    </div>
</div>