
<div class="pb-3">
  <p-card>
  
    <p-table
      responsiveLayout="scroll"
      [resizableColumns]="true"
      styleClass="p-datatable-sm p-datatable-gridlines"
      [value]="dataSource.data"
      [lazy]="true"
      (onLazyLoad)="pageChanged($event)"
      [totalRecords]="availableProspects"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="pageSize"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Outreach Prospects</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              placeholder="Search..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          
          <th
            style="min-width: 15rem"
            style="width: 150px"
          >
            First Name 
          </th>
          <th  style="width: 150">
            Last Name
          </th>
          <th style="width: 230" >Email </th>
          <th style="width: 150px">Company </th>
          <th style="width: 150px">Position</th>
          <th style="width: 150px">Labels</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-prospect>
        <tr>
          <td>{{ prospect.firstname }}</td>
          <td>
            {{ prospect.lastname }}
          </td>
          <td class="table-email">
            {{ prospect.email }}
          </td>
          <td>
            {{ prospect.company }}
          </td>
          <td>
            {{ prospect.position }}
          </td>
  
          <td class="text-center" style="display: flex;">
            <ng-container  *ngFor="let label of prospect?.labels">
              <mat-chip
               style=" padding: 7px 12px;"
               [style]="'border:1px solid'+ label.colorHex"
            >
              {{ label.name }} 
            </mat-chip>
          </ng-container>
          </td>
  
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>