.center {
  text-align: center;
  //background-color: rgb(87, 190, 190);
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.example-chip-list {
  width: 100%;
}
mat-form-field {
  width: 100%;
}
.footer {
  padding-bottom: 0 !important;
}
::ng-deep.mat-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: unset!important;
  align-items: center;
  margin: -4px;
  overflow: auto!important;
}