.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.mat-primary{
    float: right;
}
.width{
    width: 100%;
    border-color: #ced4da;
}
.p-dropdown{
    width: 100%!important;
}
