<div class="container">
<div class="row">
 <mat-card>
  <mat-card-title>Component 1</mat-card-title>
  <mat-card-content class="mt-4">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Campaign Title:</mat-label>
        <input matInput placeholder="Enter Campaign Title" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description:</mat-label>
        <input matInput placeholder="Enter Campaign Description" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Google Email:</mat-label>
        <input matInput placeholder="Enter Your Google Email" />
      </mat-form-field>
    </form>
    <button class="mat-raised-button  mat-primary" routerLink="/home/outreach/addcampaign/steptwo">Next</button>
  </mat-card-content>
  </mat-card>
</div>
</div>