<div class="container">
  <div class="row">
    <mat-card>
      <mat-card-content class="mt-4">
        <form [formGroup]="AddCampaignFormOne">
          <div formGroupName="campaign">
          <mat-form-field appearance="outline">
            <mat-label>Campaign Title:</mat-label>
            <input matInput placeholder="Enter Campaign Title" formControlName="title" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Description:</mat-label>
            <input matInput placeholder="Enter Campaign Description" formControlName="description" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Google Email:</mat-label>
            <mat-select formControlName="mailAccountId" selected>
              <mat-option *ngFor="let email of allMailAccounts" [value]="email.email">
                {{email.email}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        </form>
        <button [disabled]="AddCampaignFormOne.invalid"(click)="createCampaign()" class="mat-raised-button  mat-primary"
          >Next</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>