<!--<div class="p-3">
    <div class="header">
        <mat-card-title>Reset Password</mat-card-title>

    </div>
    <mat-card-content class="mt-4">
        <form [formGroup]="ResetPasswordForm">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Set New Password</mat-label>
                <input matInput formControlName="setNewPassword" placeholder="" autofocus>
                <mat-error>
                    Please enter a valid password.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-half-width" appearance="outline">
                <mat-label>Conform New Password</mat-label>
                <input matInput formControlName="confirmNewPassword" placeholder="">
                <mat-error>
                    Please check your password.
                </mat-error>
            </mat-form-field>
        </form>

        <button mat-flat-button color="primary" class="mt-2" style="width:100%;">Reset</button><br><br>
    </mat-card-content>
</div>-->



<div class="authBox" *ngIf="isValidToken">

    <mat-card class="pb-3">
        <div class="header">
            <mat-card-title>Reset Your Password</mat-card-title>

        </div>
        <mat-card-content>
            <form [formGroup]="ResetPasswordForm">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Set New Password</mat-label>
                    <input type="text" matInput formControlName="setNewPassword" placeholder="" autofocus
                        (keyup)="confirmPassword()">
                    <mat-error>
                        Please enter a valid password.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Confirm New Password</mat-label>
                    <input type="text" matInput formControlName="confirmNewPassword" placeholder="" autofocus
                        (keyup)="confirmPassword()">
                    <mat-error>
                        Please check your password.
                    </mat-error>
                </mat-form-field>
            </form>
            <button mat-flat-button color="primary" style="width:100%;" (click)="set()"
                [disabled]="!confirm">Reset</button><br><br>
        </mat-card-content>
    </mat-card>
</div>