@import "../dashboard/dashboard.component.scss";

.spacer{
    flex: 1 1 auto;
}





body {
    font-family: 'Covered By Your Grace', cursive;
    line-height: 1.25;
    
  }
  
  
  @media screen and (max-width: 960px) {
    .mat-table {
      border: 0;
      vertical-align: middle
    }
  
 

 
 
  }