<div class="card-header contianer-fluid">
  <span class="title">
    Contact
  </span>
</div>

<div class="card-header sub-header mt-3">
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Ex.John Dev">
  </mat-form-field>   &nbsp;  &nbsp;
   <mat-form-field style=" width: 10%;">
    <mat-label>Search by</mat-label>
    <mat-select>
      <mat-option value="email">
        Email
      </mat-option>
      <mat-option value="firstname">
        Firstname
      </mat-option>
      <mat-option value="lastname">
        Lastname
      </mat-option>
      <mat-option value="labels">
        Labels
      </mat-option>
    </mat-select>
  </mat-form-field>
 
  <span class="spacer">
  </span>
  <button mat-raised-button color="primary" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menuu">
    <mat-icon>add</mat-icon>New<mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
  </button>&nbsp;
  <button mat-raised-button color="accent">Bulk Operations</button>
</div>
<mat-menu mat-button #menuu="matMenu"  >
  <button mat-menu-item >Add single prospect</button>
  <mat-divider></mat-divider>
  <button mat-menu-item >Import from CSV</button>
  </mat-menu>
<!-- here Data is the arr of values defined in variable Data in .ts -->
<div class="table-responsive">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- construct the columns -->
  <ng-container matColumnDef="place">
    <th mat-header-cell *matHeaderCellDef>No</th>
    <td mat-cell *matCellDef="let Data"> {{Data.place}}</td>
  </ng-container>

  <ng-container matColumnDef="fName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let Data"> {{Data.fName}}</td>
  </ng-container>

  <ng-container matColumnDef="lName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let Data"> {{Data.lName}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let Data"> {{Data.email}}</td>
  </ng-container>

  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef>Company</th>
    <td mat-cell *matCellDef="let Data"> {{Data.company}}</td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let Data"> {{Data.position}}</td>
  </ng-container>


  <ng-container matColumnDef="labels">
    <th mat-header-cell *matHeaderCellDef>Labels</th>
    <td mat-cell *matCellDef="let Data"> {{Data.labels}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let Data">
      <button mat-button>
        <mat-icon class="edit">edit</mat-icon>
      </button>&nbsp;
      <button mat-button>
        <mat-icon color="warn">delete</mat-icon>
      </button>
  </ng-container>

  <!-- add a table row, if not added..rows will not be rendered inside the table -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>