<div class="p-3">
    <div class="header">
        <mat-card-title>Reset Password</mat-card-title>

    </div>
    <mat-card-content class="mt-4">
        <form [formGroup]="forgotPasswordForm">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" autofocus>
                <mat-error>
                    Please enter a valid email address.
                </mat-error>
            </mat-form-field>
        </form>

        <button mat-flat-button color="primary" class="mt-2" style="width:100%;" (click)="resetPasswordInitiate()"
            mat-dialog-close>Reset</button><br><br>
    </mat-card-content>
</div>