<div class="popup">

    <mat-card>
        <div class="header">
            <mat-card-title>Reset Password</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </div>
        <mat-card-content>
            <form [formGroup]="forgotPasswordForm">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" autofocus>
                    <mat-error>
                        Please enter a valid email address.
                    </mat-error>
                </mat-form-field>
            </form>
           
            <button mat-flat-button color="primary"  style="width:100%;" >Reset</button><br><br>
        </mat-card-content>


    </mat-card>
</div>
