<div class="row">
    <mat-form-field appearance="outline" >
      <mat-label>Choose Calender Schedule:</mat-label>
      <mat-select [formControl]="schedule" [compareWith]="compareColors">
        <mat-option *ngFor="let schedule of allSchedules" [value]="schedule">
          {{schedule.name}}::
          <ng-container *ngFor="let oneSchedule of schedule.schedules">
                                 
            <ng-container *ngIf="oneSchedule.active">
              
              <ng-container *ngFor="let time of oneSchedule.times">
                <ng-container>
                    {{oneSchedule.day | uppercase}}: {{time.from | time24to12Transform}}&nbsp;-&nbsp;{{time.to | time24to12Transform}}
                </ng-container> 
               </ng-container>
            </ng-container>
          </ng-container>
          <!-- <ng-container *ngFor="let day of previewData">
                                  
            <ng-container *ngIf="day.active" >
              
              <ng-container *ngFor="let time of day.times">
               {{day.day | uppercase}}: {{time.from | time24to12Transform}}&nbsp;-&nbsp;{{time.to | time24to12Transform}}
               </ng-container>
            </ng-container>
          </ng-container> -->
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="footer mt-5"  >
        <button mat-flat-button color="primary" style="float:right" (click)="updateSchedule()">Save</button>
        <button mat-flat-button [mat-dialog-close]="true" color="warn" style="float:left">Cancel</button>
    </div>
  </div>
