.mat-toolbar{
    background-image: linear-gradient(to right top, #6b74d1, #5461ab, #404f86, #303c62, #222a40, #282b43, #2e2b45, #342b46, #613862, #974070, #ce4a6f, #fb5f5f);
}
.header{
    color: white;
    text-align: center;
    flex: 1 1 100%;
   
}

