
<p-card>
  <p-table
  responsiveLayout="scroll"
  [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}"  styleClass="p-datatable-sm"
  [value]="prospects"
  [lazy]="true"
  (onLazyLoad)="getContactsByLabels($event)"
  [totalRecords]="availableProspectes"
  [rows]="10"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  >
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">Linked Prospects</h5>
      <span>
        <button mat-dialog-close style="float: right;" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>

      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th
        style="min-width: 15rem"
        style="width: 150px"
      >
        First Name 
      </th>
      <th  style="width: 150">
        Last Name 
      </th>
      <th style="width: 230">Email</th>
      <th style="width: 150px" >Company</th>
      <th style="width: 150px" >Position </th>
      <th style="width: 150px">Labels</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-prospect>
    <tr>
     
      <td>{{ prospect.firstname }}</td>
      <td>
        {{ prospect.lastname }}
      </td>
      <td class="table-email">
        {{ prospect.email }}
      </td>
      <td>
        {{ prospect.company }}
      </td>
      <td>
        {{ prospect.position }}
      </td>

      <td class="text-center" style="display: flex;" >
        <ng-container  *ngFor="let label of prospect?.labels">
          <mat-chip
          style=" padding: 7px 12px;"
          [style]="'border:1px solid'+ label.colorHex"
        >
          {{ label.name }} 
        </mat-chip>
      </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
</p-card>