<div class="example-container">
  <button mat-button mat-dialog-close style="float: right;">
    close
  </button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
        <ng-container matColumnDef="place">
          <th mat-header-cell *matHeaderCellDef >No</th>
          <td mat-cell *matCellDef="let prospect"> {{ prospect.place}}</td>
        </ng-container>
    
        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef >First Name</th>
          <td mat-cell *matCellDef="let prospect"> {{prospect.firstname}}</td>
        </ng-container>
    
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef >Last Name</th>
          <td mat-cell *matCellDef="let prospect"> {{prospect.lastname}}</td>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef >Email</th>
          <td mat-cell *matCellDef="let prospect"> {{ prospect.email}}</td>
        </ng-container>
    
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef >Company</th>
          <td mat-cell *matCellDef="let prospect"> {{ prospect.company}}</td>
        </ng-container>
    
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef >Position</th>
          <td mat-cell *matCellDef="let prospect"> {{ prospect.position}}</td>
        </ng-container>
    
    
        <ng-container matColumnDef="labels">
          <th mat-header-cell *matHeaderCellDef >Labels</th>
          <td mat-cell *matCellDef="let prospect">
            <ng-container *ngFor="let label of prospect.labels">
              <mat-chip [ngStyle]="{ 'background': label.colorHex }"> {{label.name}}&nbsp; </mat-chip>
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
     
</div>
<div>
  <mat-paginator #paginator [length]="availableProspectes" [pageIndex]="currentPage" [pageSize]="pageSize"
  (page)="pageChanged($event)" aria-label="Select page">
</mat-paginator>
</div>
