<div class="container-fluid example-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
   

    <!-- construct the columns -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef >Status</th>
      <td mat-cell *matCellDef="let prospect"> 
       <div class="Ccell">{{ prospect.status}}</div> 
    </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef >Campaign title</th>
      <td mat-cell *matCellDef="let prospect"> {{ prospect.title}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Sender Email</th>
      <td mat-cell *matCellDef="let prospect"> {{ prospect.mailAccountId}}</td>
    </ng-container>

    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef >Progress</th>
      <td mat-cell *matCellDef="let prospect"> 0/{{ prospect.steps.length}}
        <div>Messages Sent</div>
      </td>

    </ng-container>

    <ng-container matColumnDef="stats">
      <th mat-header-cell *matHeaderCellDef >Stats</th>
      <td mat-cell *matCellDef="let prospect"> 
        <span class="dotClicked">{{ prospect.stats.numClicks}}</span>
        <span class="dotSend" >{{prospect.stats.numEmailsSent}}</span>
        <span class="dotOpned">{{prospect.stats.numProspectsContacted}}</span>
        <span class="dotFailed">{{prospect.stats.numReplies}}</span>
    </td>
    </ng-container>

    <ng-container matColumnDef="createdat">
      <th mat-header-cell *matHeaderCellDef >Created At</th>
      <td mat-cell *matCellDef="let prospect"> {{prospect.createdAt | date}}</td>
    </ng-container>
   

    <!-- add a table row, if not added..rows will not be rendered inside the table -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 
    
</div>
<div>
  <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
</mat-paginator>
</div>
