

<p-card>
  <p-table
  responsiveLayout="scroll"
    styleClass="p-datatable-sm"
  [value]="campaigns"
  [lazy]="true"
  (onLazyLoad)="getCampaignsByLabel($event)"
  [totalRecords]="totalRecords"
  [rows]="10"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  >
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">Linked Outreachs</h5>
      <span>
        <button mat-dialog-close style="float: right;" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th >Status</th>
      <th>Outreach Title</th>
      <th>Sender Email</th>
      <th>Progress</th>
      <th>Stats</th>
      <th>Created At</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-outreach>
    <tr>
      <td >
        <div class="Ccell">{{ outreach.status }}</div>
      </td>
      <td>
        {{ outreach.title }}
      </td>
      <td>
        <img
          src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"
          height="20px"
          width="20px"
        />
        {{ outreach.mailAccountId }}
      </td>
      <td>
        0/{{ outreach.steps.length }}
        <div>Messages Sent</div>
      </td>
      <td>
        <span class="dotClicked">{{ outreach.stats.numClicks }}</span>
        <span class="dotSend">{{ outreach.stats.numEmailsSent }}</span>
        <span class="dotOpned">{{
          outreach.stats.numProspectsContacted
        }}</span>
        <span class="dotFailed">{{ outreach.stats.numReplies }}</span>
      </td>
      <td>{{ outreach.createdAt | date }}</td>
  
    </tr>
  </ng-template>
</p-table>
</p-card>