<!-- <mat-toolbar class="sub-navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <h1>Profile.</h1>
            </div>
            <div class="col-sm-10"></div>
            <div class="col-1">
         
            </div>
        </div>
    </div>
</mat-toolbar> -->
<form [formGroup]="userDetails">
  <p-card>
    <ng-template pTemplate="title"
      >Profile
      <span style="float: right">
        <button
          (click)="enableForm()"
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-danger p-button-text"
        ></button>
        <button
          (click)="disableForm()"
          pButton
          pRipple
          type="button"
          icon="pi pi-check"
          class="p-button-rounded p-button-text"
        ></button>
      </span>
    </ng-template>
    <ng-template pTemplate="content" style="padding: 1rem 0 !important">
      <div class="grid" style="width: 100%">
        <div class="col-12 lg:col-4">
          <input type="text" pInputText formControlName="firstname" />
        </div>
        <div class="col-12 lg:col-4">
          <input type="text" pInputText formControlName="lastname" />
        </div>
        <div class="col-12 lg:col-4">
          <input
            type="email"
            pInputText
            formControlName="email"
            [disabled]="true"
          />
        </div>
        <div class="col-12 lg:col-4">
          <input
            type="text"
            pInputText
            formControlName="mobile"
            placeholder="Number"
          />
        </div>
        <div class="col-12 lg:col-4">
          <input type="text" pInputText placeholder="Position" />
        </div>
        <div class="col-12 lg:col-4">
          <input
            type="text"
            pInputText
            formControlName="company"
            placeholder="Company"
          />
        </div>
      </div>
    </ng-template>
  </p-card>
</form>

<div class="mt-5">
  <p-card>
    <ng-template pTemplate="title"
      >Timezone
      <span style="float: right">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-check"
          class="p-button-rounded p-button-text"
        ></button>
      </span>
    </ng-template>
    <ng-template pTemplate="content" style="padding: 1rem 0 !important">
      <ng-moment-timezone-picker
        class="timezone"
        [getUserZone]="true"
        [customPlaceholderText]="''"
        ngModel="timeZone"
      >
      </ng-moment-timezone-picker>
    </ng-template>
  </p-card>
</div>

<!-- <div class="container">

    <div class="row">

        <div class="col-sm-3">

            <mat-card class="mat-elevation-z5 card">

                <mat-toolbar class="innerTool">
                    Account Type.
                </mat-toolbar>

                <div style="text-align: center;">
                    <br>
                    <label>
                    </label>
                    <br>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <label style="font-weight: 500; font-size: 1.2rem; color: #9a9a9a; padding: 5px;">Account Type:
                        {{accountType | titlecase}}.</label>
                </div>

            </mat-card>

        </div>

        <div class="col-sm-9">

            <form [formGroup]="userDetails">

                <mat-card class="mat-elevation-z5 card">


                    <mat-toolbar class="innerTool">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-1">Personal Info.</div>
                                <div class="col-sm-7"></div>
                                <div class="col-2">
                                    <button (click)="enableForm();" mat-mini-fab color="warn" [hidden]="icoe">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button (click)="disableForm();" mat-mini-fab color="warn" [hidden]="icoc">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    &nbsp; &nbsp;
                                    <button mat-stroked-button color="primary" [disabled]="btndsbl">
                                        <mat-icon>update</mat-icon> Update Profile
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-toolbar>



                    <br>

                    <div class="row g-1">

                        <div class="col-sm-12">

                            <br>

                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" [disabled]="isDisabled" matInput
                                    placeholder="pat@example.com" />
                                <mat-error>Not a valid Email id</mat-error>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;

                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input formControlName="firstname" matInput placeholder="Enter first name" required />
                                <mat-error>Please enter valid name</mat-error>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;

                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input formControlName="lastname" matInput placeholder="Enter last name" required />
                                <mat-error>Please enter valid name</mat-error>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;

                            <mat-form-field appearance="outline">
                                <mat-label>Phone number</mat-label>
                                <input formControlName="mobile" matInput placeholder="12 digit with country code" />
                                <mat-error>Enter valid number</mat-error>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;

                            <mat-form-field appearance="outline">
                                <mat-label>Company Name</mat-label>
                                <input formControlName="company" matInput placeholder="Enter company name" />
                                <mat-error>Company name is required</mat-error>
                            </mat-form-field>


                        </div>

                    </div>

                </mat-card>

            </form>
        </div>

    </div>

    <mat-card class="mat-elevation-z5 card">

        <mat-toolbar class="innerTool">
            Timezone.
        </mat-toolbar>
        <br>
        <br>

        <ng-moment-timezone-picker class="timezone" [getUserZone]="true" [customPlaceholderText]="'Timezone'"
            ngModel="timeZone">
        </ng-moment-timezone-picker>

    </mat-card>

</div> -->
