.popup{
    width:100px;
    height:100px;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.mat-primary{
    float: right;
    
}
.header{
    color: var(--color);
    text-align: center;
}