<div class="p-3">
    <div class="header">
        <mat-card-title>{{heading}}</mat-card-title>
    </div>&nbsp;
    <mat-card-content class="mt-4">
        <form [formGroup]="AddLabelForm">
            <!-- <div class="row">
                <div class="col-sm-4"> -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Add Label</mat-label>
                <input type="text" matInput formControlName="name" autofocus>
            </mat-form-field>
            <!-- </div> -->
            <!-- 
            <div class="col-sm-4"> -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Label Description</mat-label>
                <input type="text" matInput formControlName="description" autofocus>
            </mat-form-field>
            <!-- </div> -->

            <!-- <div class="col-sm-4"> -->
            <!-- <mat-label>Pick Color</mat-label> -->
            <app-color-picker [color]="backgroundColor" [heading]="'Select Label Color'"
                (event)="setColor('background', $event)"></app-color-picker>


            <!-- </div> -->
            <!-- </div> -->
        </form>
        <footer class="footer">
        <button class="mat-raised-button mat-warn" [mat-dialog-close]="true">Cancel</button>
        <button class="mat-raised-button  mat-primary" (click)="setLabels()" [mat-dialog-close]="true"
            [disabled]="AddLabelForm.invalid">{{actionButton}}</button>
        </footer>    
    </mat-card-content>
</div>