/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: var(--background-color) }

// theme colors

:root {
  --background-color: #F5F7FA;
  --background:rgba(238,239,242,1) 28%, rgba(217,217,242,1) 43%, rgba(199,229,232,1) 66%, rgba(0,212,255,1) 100% ;
--color:#495057;
}

.edit{
  color: var(--color);
}
table {
    width: 100%;
  }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.sub-header{
  height: 60px!important;
  
}

/* Include bootstrap CSS file  */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Include ng-wizard CSS files */
@import '~ng-wizard/themes/ng_wizard.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_arrows.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_dots.min.css';


.mat-header-cell,
.mat-cell {
    min-width: 80px;
    box-sizing: border-box;
    
   
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: small;
 
}

.mat-header-row,
.mat-row {
    min-width: 100%;
}

@media (max-width: 1200px) {

    .mat-header-row,
    .mat-row {
        min-width: 100%;
    }
}

@media (max-width: 992px) {

    .mat-header-row,
    .mat-row {
        min-width: 100%;
    }
}

@media (max-width: 768px) {

    .mat-header-row,
    .mat-row {
        min-width: 100%;
    }
  }

 

