/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
html,
body {
  height: 100%;
  font-size: 14px;
    background-color: var(--background-color)!important;

}

:root.custom-bread-crumb[_ngcontent-nym-c202] {
  padding:0px;
  list-style: none;
}
// theme colors

:root {
  --background-content: #f5f7fa;
  --background-color: #eeeff2;
  --background: rgba(238, 239, 242, 1) 28%, rgba(217, 217, 242, 1) 43%,
    rgba(199, 229, 232, 1) 66%, rgba(0, 212, 255, 1) 100%;
  --color: #495057;
}



/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import '~quill/dist/quill.bubble.css'; 




.loader {
  position: fixed;
  left: 50%;
  top: 50%;

}


//new changes
.p-card .p-card-footer {
  padding: 0rem 0 0 0!important;
}

.p-card .p-card-content {
  padding: 0 0 0 0!important;
}

.table-description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.table-email{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}

.right{
  float: right;
}

ul.custom-bread-crumb{
  padding: 0px !important;
}
mat-chip {
  width: auto;
  color: black;
  border-radius: 4px !important;
  text-align: center !important;
  border: 1px solid ;
  background: transparent !important;
  margin: 2px;
  box-sizing: border-box;
  padding: 7px 12px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.14);
}