/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
}

// theme colors

:root {
  --background-color: #f5f7fa;
  --background: rgba(238, 239, 242, 1) 28%, rgba(217, 217, 242, 1) 43%,
    rgba(199, 229, 232, 1) 66%, rgba(0, 212, 255, 1) 100%;
  --color: #495057;
}

.edit {
  color: var(--color);
}
table {
  width: 100%;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import '~quill/dist/quill.bubble.css'; 
.sub-header {
  height: 60px !important;
}




// .mat-header-cell,
// .mat-cell {
//   min-width: 80px;
//   box-sizing: border-box;
// }

// th.mat-header-cell,
// td.mat-cell,
// td.mat-footer-cell {
//   padding: 0;
//   border-bottom-width: 1px;
//   border-bottom-style: solid;
//   font-size: small;
// }

// .mat-header-row,
// .mat-row {
//   min-width: 100%;
// }

// @media (max-width: 1200px) {
//   .mat-header-row,
//   .mat-row {
//     min-width: 100%;
//   }
// }

// @media (max-width: 992px) {
//   .mat-header-row,
//   .mat-row {
//     min-width: 100%;
//   }
// }


// @media  (max-width: 599px) {
//  .mat-chip-list{
//   //flex: 0 0 28% !important;
//   width: 28% !important;
//   overflow: auto;
//   }
// }
.mat-column-labels{

  flex: 0 0 28% !important;
  width: 28% !important;
  overflow: auto;
}
.loader {
  position: fixed;
  left: 50%;
  top: 50%;

}
table {
  width: 100%;
}

.example-container {
  overflow: auto;
  font-size: 16px;
}

.mat-header-cell,
.mat-footer-cell,
.mat-cell {
  min-width: 80px;
  box-sizing: border-box;
}

.mat-header-row,
.mat-footer-row,
.mat-row {
  min-width: 900px; /* 24 columns, 80px each */
}


//new changes
.p-card .p-card-footer {
  padding: 0rem 0 0 0!important;
}

.p-card .p-card-content {
  padding: .5rem 0 0 0!important;
}