.spacer {
  flex: 1 1 auto;
}
.mat-drawer-container {
  // /* background-color: #fafafa; */
  background-color: var(--background-color)!important;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 70px;
  background: linear-gradient(90deg, var(--background));
  color: var(--color);
}
mat-sidenav {
  width: 70px;
  background: linear-gradient(to bottom, var(--background));
  overflow: visible;
}
.mat-drawer-side {
    border-right: none;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

// h1.example-app-name {
//   margin-left: 8px;
// }

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}


.logo {
  top: 60px;
  width: 60px;
}
@media (max-width: 599px) {
  .logo {
    width: 25px;
  }
}



.content{
  padding: 1.5rem;
    border-top-left-radius: 30px;
    border-top: 1px solid var(--background);
    box-shadow: inset 0 3px 4px #0000001a;
    background-color: var(--background-content);
}

app-footer{
  margin-top: auto;
}