
<mat-toolbar fxLayout="row">
  <span fxFlex>OutReach
    </span>

    <button routerLink="addcampaign" mat-raised-button color="primary" >
        <mat-icon>add</mat-icon>
        New
    </button>
    <!-- <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
      </button> -->
   
      <!-- <mat-menu #dropMenu="matMenu">
        <ng-container>
            <button mat-menu-item color="primary" routerLink="addcampaign">
                <mat-icon>add</mat-icon>
                Add 
            </button>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-menu> -->
</mat-toolbar>
<div class="container-fluid example-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
   

    <!-- construct the columns -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef >
        Status
        
          <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        
      </th>
      <td mat-cell *matCellDef="let prospect"> 
       <div class="Ccell">{{ prospect.status}}</div> 
    </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef >Campaign title
        
          <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        
      </th>
      <td mat-cell *matCellDef="let prospect"> {{ prospect.title}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Sender Email
        
          <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
       
      </th>
      <td mat-cell *matCellDef="let prospect"> {{ prospect.mailAccountId}}</td>
    </ng-container>

    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef >Progress
        
          <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        
      </th>
      <td mat-cell *matCellDef="let prospect"> 0/{{ prospect.steps.length}}
        <div>Messages Sent</div>
      </td>

    </ng-container>

    <ng-container matColumnDef="stats">
      <th mat-header-cell *matHeaderCellDef >Stats
        <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        
      </th>
      <td mat-cell *matCellDef="let prospect"> 
        <span class="dotClicked">{{ prospect.stats.numClicks}}</span>
        <span class="dotSend" >{{prospect.stats.numEmailsSent}}</span>
        <span class="dotOpned">{{prospect.stats.numProspectsContacted}}</span>
        <span class="dotFailed">{{prospect.stats.numReplies}}</span>
    </td>
    </ng-container>

    <ng-container matColumnDef="createdat">
      <th mat-header-cell *matHeaderCellDef >Created At
        <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        
      </th>
      <td mat-cell *matCellDef="let prospect"> {{prospect.createdAt | date}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions
        <mat-icon class="tooltp" style="font-size: small;" matTooltip="Info about the action" >help_outline</mat-icon>
        
      </th>
      <td mat-cell *matCellDef="let prospect">
        <button mat-button (click)="editCampaign(prospect)">
          <mat-icon class="edit" >edit</mat-icon>
        </button>&nbsp;
        <button mat-button>
            <mat-icon color="primary">archive</mat-icon>
        </button>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>
    </ng-container>

    <!-- add a table row, if not added..rows will not be rendered inside the table -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
    
</div>
<div>
  <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
  </mat-paginator>
</div>



<!--
    Accordian
    <div *ngFor="let campaign of campaigns" class="mt-5">
        
        <mat-accordion >
            <div class="row">
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                   
                    <div  class=" Ccell col-sm-1"
                        style="margin-top:8px;">
                        {{campaign.status}}
                    </div>
                    <div class="col-sm-2" style="margin-top:15px;">
                        {{campaign.title}}</div>
                    <div class="col-sm-2">
                        <img style="width: 25px; margin-top: 6px; "/>
                        {{campaign.mailAccountId}}
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div   class="col-sm-2" style="margin-top:15px"> {{campaign.steps.length}}</div>
                    <div class="col-sm-2" style="margin-top:15px"> 
                      <span>{{campaign.createdAt | date}}</span>  
                    </div>
                    <div   class="col-sm-1" style="margin-top:15px"> {{campaign.steps.length}}</div> 

                    <div class="col-sm-2">
                        <span class="dotSend" style="margin-top:10px;">{{campaign.stats.numClicks}}</span>
                        <span class="dotOpned">{{campaign.stats.numEmailsSent}}</span>
                        <span class="dotClicked">{{campaign.stats.numProspectsContacted}}</span>
                        <span class="dotFailed">{{campaign.stats.numReplies}}</span>
                    </div>

                    <div class="col-sm-2">
                        <button mat-button routerLink="editcampaign" >
                            <mat-icon class="edit">edit</mat-icon>
                        </button>
                        <button mat-button>
                            <mat-icon color="primary">archive</mat-icon>
                        </button>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>

                    </div>
                
                </mat-expansion-panel-header>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque consequatur fugiat voluptatibus, numquam ducimus possimus.</p>
            </mat-expansion-panel>
        </div>
        </mat-accordion>
    
</div>

-->